.idea/

__pycache__/
venv/
.pytest_cache
.env

.vscode/
docker/pg
/local.env
/.coverage
/htmlcov/
/localreadme.md
/env/local/docker/docker-compose-test.yml
/env/local/docker/docker-compose.override.yml
/env/local/docker/local.env
