[Unit]
Description=TgOrganizerBot

[Service]
WorkingDirectory=/home/tg_bot
ExecStart=/bin/bash -c "/root/.local/bin/uv run alembic upgrade heads; /root/.local/bin/uv run /home/tg_bot/main.py"
Restart=always
RestartSec=5

StandardOutput=append:/var/log/tg_bot.log
StandardError=append:/var/log/tg_bot.log

[Install]
WantedBy=multi-user.target
